.env
.DS_Store
data/
pixels_grid.png
script.py
avg_ratings_per_year.png
avg_rating_curr_year.png
avg_ratings_per_weekday.png
activity_frequency.png
avg_productivity_per_weekday.png
avg_productivity_per_year.png
emotion_frequency.png
rating_frequency_pie_chart.png
